<header>
    <div class="header-logo">
        <img src="../img/header_nav_logo.png">
    </div>
    <ul class="header-menu">
        <li>
            <div class="header-menu-text">@야시장소개</div>
        </li>
        <li>
            <div class="header-menu-text">@여의도</div>
        </li>
        <li>
            <div class="header-menu-text">@DDP</div>
        </li>
        <li>
            <div class="header-menu-text">@청계천</div>
        </li>
        <li>
            <div class="header-menu-text">@반포</div>
        </li>
        <li>
            <div class="header-menu-text">@청계광장</div>
        </li>
        <li>
            <div class="header-menu-text">야시장소식</div>
        </li>
    </ul>
    <ul class="header-sns">
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-facebook-f"></i> </li>
        <li><i class="fa fa-instagram"></i> </li>
    </ul>
</header>