<header>
    <div class="header-logo">서울밤도깨비야시장</div>
    <ul class="header-menu">
        <li>야시장소개</li>
        <li>@여의도</li>
        <li>@DDP</li>
        <li>@청계천</li>
        <li>@반포</li>
        <li>@청계광장</li>
        <li>야시장소식</li>
    </ul>
    <ul class="header-sns">
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-facebook-f"></i> </li>
        <li><i class="fa fa-instagram"></i> </li>
    </ul>
</header>