@font-color: #ffe42e;
@main-color: #141E3C;
@body-min-width: 1500px;

body {
  min-width: @body-min-width;
  padding-top: @header-height;
  color: @font-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@header-height: 60px;

header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: @header-height;
  width: 100%;
  z-index: 1000;
  background-color: @main-color;
  text-align: center;
  min-width: @body-min-width;
}

.header-logo {
  display: inline-block;
  line-height: @header-height;

  img {
    width: 150px;
  }
}

.header-menu {
  position: relative;
  display: inline-block;
  margin: 0px 30px;
}

.header-menu > li {
  display: inline-block;
  margin: 0px 30px;
  cursor: pointer;
}

.header-main-menu > img {
  height: 15px;
}

@header-sub-menu-width: 115px;

.header-sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
  padding-top: 20px;
  background-color: @main-color;
}

.header-sub-menu > li {
  padding: 5px;
  width: @header-sub-menu-width;
  border-bottom: solid 1px @font-color;
  font-weight: bold;
  cursor: pointer;
}

.header-sub-menu > li:hover {
  color: @main-color;
  background-color: @font-color;
}

.header-sub-menu > li:last-child {
  border: none;
}

.header-sns {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.header-sns > li {
  display: inline-block;
  margin: 0px 5px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  color: @main-color;
  font-size: 20px;
  background-color: @font-color;
  text-align: center;
  line-height: 24px;
}

@footer-height1: 150px;
@footer-top-height: 60px;

footer {
  position: relative;
  width: 100%;
  height: @footer-height1;
  background-color: #575757;
}

.footer-top {
  height: @footer-top-height;
  background-color: @main-color;
}

.footer-notice {
  position: absolute;
  display: inline-block;
  left: 250px;
  cursor: pointer;
}

.footer-notice > li {
  display: inline-block;
  padding: 0px 5px;
  vertical-align: top;
  line-height: @footer-top-height;

  i {
    line-height: @footer-top-height;
  }
}

.footer-notice .fa {
  font-size: 25px;
}

.footer-notice > li:nth-child(2) {
  color: #fff;
  font-size: 12px;
}

.footer-info {
  position: absolute;
  display: inline-block;
  right: 250px;
  line-height: @footer-top-height;
}

.footer-info > li {
  display: inline-block;
  padding: 0px 5px;
  font-size: 18px;
  font-weight: bold;
}

.footer-info > li > span {
  padding-right: 3px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
}

.bottom-info {
  position: absolute;
  left: 250px;
  bottom: 25px;
  color: #ffffff;
  font-size: 12px;
}

.bottom-logo {
  position: absolute;
  right: 250px;
  bottom: 25px;
}