<div class="page-name">공연안내</div>
<div class="concert-schedule">
    <table class="concert-month-schedule">
        <thead>
        <tr>
            <th>3월</th>
            <th>4월</th>
            <th>5월</th>
            <th>6월</th>
            <th>7월</th>
            <th>8월</th>
            <th>9월</th>
            <th>10월</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table class="concert-schedule-detail">
        <thead>
        <tr>
            <th></th>
            <th>4일(금)</th>
            <th>5일(토)</th>
            <th>11일(금)</th>
            <th>12일(토)</th>
            <th>18일(금)</th>
            <th>19일(토)</th>
            <th>25일(금)</th>
            <th>26일(토)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>20:30</td>
            <td>장경환</td>
            <td>이시은</td>
            <td>고나영</td>
            <td>찬솔</td>
            <td>달노트</td>
            <td>이시은</td>
            <td>감정유발자</td>
            <td>마멀레이드키친</td>
        </tr>
        <tr>
            <td>21:00</td>
            <td>장경환</td>
            <td>이시은</td>
            <td>고나영</td>
            <td>찬솔</td>
            <td>달노트</td>
            <td>이시은</td>
            <td>감정유발자</td>
            <td>마멀레이드키친</td>
        </tr>
        <tr>
            <td>22:00</td>
            <td>우카탕카</td>
            <td>Rupa.Jr</td>
            <td>메이너사운드</td>
            <td>벨</td>
            <td>벨</td>
            <td>리온델</td>
            <td>Rupa.Jr</td>
            <td>달노트</td>
        </tr>
        </tbody>
    </table>
    <div class="concert-date"> 4일(금) </div>
    <ul class="artist-list">
        <li>
            <img src="../../img/concert/strawberry.jpg">
            <div>딸기주스가너무달아</div>
        </li>
        <li>
            <img src="../../img/concert/jgh.jpg">
            <div>장경환</div>
        </li>
        <li>
            <img src="../../img/concert/ukatanka.jpg">
            <div>우카탕카</div>
        </li>
    </ul>
    <div class="concert-date"> 5일(토) </div>
    <ul class="artist-list">
        <li>
            <img src="../../img/concert/chs.jpg">
            <div>찬솔</div>
        </li>
        <li>
            <img src="../../img/concert/lse.jpg">
            <div>이시은</div>
        </li>
        <li>
            <img src="../../img/concert/rupa.jpg">
            <div>Rupa.Jr</div>
        </li>
    </ul>
    <div class="concert-date"> 11일(금) </div>
    <ul class="artist-list">
        <li>
            <img src="../../img/concert/strawberry.jpg">
            <div>딸기주스가너무달아</div>
        </li>
        <li>
            <img src="../../img/concert/kny.jpg">
            <div>고나영</div>
        </li>
        <li>
            <img src="../../img/concert/may.jpg">
            <div>메이너사운드</div>
        </li>
    </ul>
    <div class="concert-date"> 12일(토) </div>
    <ul class="artist-list">
        <li>
            <img src="../../img/concert/strawberry.jpg">
            <div>딸기주스가너무달아</div>
        </li>
        <li>
            <img src="../../img/concert/chs.jpg">
            <div>찬솔</div>
        </li>
        <li>
            <img src="../../img/concert/bell.jpg">
            <div>벨</div>
        </li>
    </ul>
    <div class="concert-date"> 18일(금) </div>
    <ul class="artist-list">
        <li>
            <img src="../../img/concert/kah.jpg">
            <div>김아현</div>
        </li>
        <li>
            <img src="../../img/concert/dalnote.jpg">
            <div>달노트</div>
        </li>
        <li>
            <img src="../../img/concert/bell.jpg">
            <div>벨</div>
        </li>
    </ul>
    <div class="concert-date"> 19일(토) </div>
    <ul class="artist-list">
        <li>
            <img src="../../img/concert/hook.jpg">
            <div>HOOK</div>
        </li>
        <li>
            <img src="../../img/concert/lse.jpg">
            <div>이시은</div>
        </li>
        <li>
            <img src="../../img/concert/reondel.jpg">
            <div>리온델</div>
        </li>
    </ul>
    <div class="concert-date"> 25일(금) </div>
    <ul class="artist-list">
        <li>
            <img src="../../img/concert/nieun.jpg">
            <div>니은</div>
        </li>
        <li>
            <img src="../../img/concert/gamjung.jpg">
            <div>감정유발자</div>
        </li>
        <li>
            <img src="../../img/concert/rupa.jpg">
            <div>Rupa.Jr</div>
        </li>
    </ul>
    <div class="concert-date"> 26일(토) </div>
    <ul class="artist-list">
        <li>
            <img src="../../img/concert/hook.jpg">
            <div>HOOK</div>
        </li>
        <li>
            <img src="../../img/concert/mamal.jpg">
            <div>마멀레이드키친</div>
        </li>
        <li>
            <img src="../../img/concert/dalnote.jpg">
            <div>달노트</div>
        </li>
    </ul>
</div>