<div class="market-title">
    {{name}}
</div>
<div class="market-term">
    {{term}}
</div>
<ul class="market-sub-menu" >
    <li>소개</li>
    <li>상단소개</li>
    <li>공연안내</li>
    <li>현장스케치</li>
    <li>공지사항</li>
    <li>오시는길</li>
</ul>
<div class="headline-img-left"><img src="{{leftImage}}"></div>
<div class="headline-img-right"><img src="{{rightImage}}"></div>