<div class="qna">
    <div>문의처</div>
    <p>
        <span>행사관련문의</span>
        120 다산콜센터
    </p>
    <p>
        <span>홍보 및 기업홍보 관련 문의</span>
        bamdokkaebipr01@gmail.com
    </p>
    <p>
        <span>운영 관련 문의</span>
        bamdokkaebi2017@gmail.com
    </p>
</div>