<div class="page-name">상단소개</div>
<div class="market-title">
    <span>푸드트럭</span>
    푸드트럿 상단은 순환제로 운영됩니다.<br>
    현재 여의도에서 만나실 수 있는 푸드트럭 상단을 확인하세요.
</div>
<ul class="market-detail-list">
    <li>
        <img src="../../img/market/yyd/food/Opro.jpg">
        <div>오프로</div>
    </li>
    <li>
        <img src="../../img/market/yyd/food/f060.jpg">
        <div>오프로</div>
    </li>
    <li>
        <img src="../../img/market/yyd/food/f054.jpg">
        <div>오프로</div>
    </li>
    <li>
        <img src="../../img/market/yyd/food/f055.jpg">
        <div>오프로</div>
    </li>
    <li>
        <img src="../../img/market/yyd/food/f056.jpg">
        <div>오프로</div>
    </li>
</ul>
<div class="market-title">
    <span>핸드메이드</span>
    핸드메이드 숍은 순환제로 운영됩니다.<br>
    현재 여의도에서 만나실 수 있는 핸드메이드 작가를 확인하세요.
</div>
<ul class="market-detail-list">
    <li>
        <img src="../../img/market/yyd/handmade/s148.jpg">
        <div>더블유 코퍼레이션</div>
    </li>
    <li>
        <img src="../../img/market/yyd/handmade/s149.jpg">
        <div>더블유 코퍼레이션</div>
    </li>
    <li>
        <img src="../../img/market/yyd/handmade/s150.jpg">
        <div>더블유 코퍼레이션</div>
    </li>
    <li>
        <img src="../../img/market/yyd/handmade/s151.jpg">
        <div>더블유 코퍼레이션</div>
    </li>
    <li>
        <img src="../../img/market/yyd/handmade/s154.jpg">
        <div>더블유 코퍼레이션</div>
    </li>
</ul>