<div class="page-name">영상자료실</div>
<ul class="media-box">
    <li>
        <img src="../../img/market_media.png">
        <span>(JPN) 2017 서울밤도깨비야시장 공식 홍보 동영상</span>
        <div class="market-explain">
            <div class="market-writer">최고관리자</div>
            <div class="check-num">조회 713</div>
            <div class="image-date">05.12.17</div>
        </div>
    </li>
    <li>
        <img src="../../img/market_media.png">
        <span>(CHN) 2017 서울밤도깨비야시장 공식 홍보 동영상</span>
        <div class="market-explain">
            <div class="market-writer">최고관리자</div>
            <div class="check-num">조회 713</div>
            <div class="image-date">05.12.17</div>
        </div>
    </li>
    <li>
        <img src="../../img/market_media.png">
        <span>(ENG) 2017 서울밤도깨비야시장 공식 홍보 동영상</span>
        <div class="market-explain">
            <div class="market-writer">최고관리자</div>
            <div class="check-num">조회 713</div>
            <div class="image-date">05.12.17</div>
        </div>
    </li>
    <li>
        <img src="../../img/market_media.png">
        <span>(KOR) 2017 서울밤도깨비야시장 공식 홍보 동영상</span>
        <div class="market-explain">
            <div class="market-writer">최고관리자</div>
            <div class="check-num">조회 713</div>
            <div class="image-date">05.12.17</div>
        </div>
    </li>
    <li>
        <img src="../../img/market_media_2.jpg">
        <span>2016 서울밤도깨비야시장 ENG</span>
        <div class="market-explain">
            <div class="market-writer">최고관리자</div>
            <div class="check-num">조회 713</div>
            <div class="image-date">05.12.17</div>
        </div>
    </li>
</ul>