<section class="market-contents-top">
    <div class="sub-menu-title">{{name}}</div>
    <div class="sub-menu-contents">
        {{{summary}}}
    </div>
</section>
<section class="market-contents-bottom">
    <div class="food-image">{{{foodImage}}}</div>
    <div class="food-store">{{foodStore}}</div>
</section>
