<div class="mi">
    <span>MI</span>
    <div>
        서울밤도깨비야시장의 MI(Market Identity)는<br>
        어두운 밤하늘을 드러내는 검정색과 도심의 밤을 밝히는 노랑으로 구성되었습니다.<br>
        개성적인 서체로 밤도깨비와 시장이 드러내는 유쾌하고 즐거운 분위기를 강조했습니다.
    </div>
    <img src="../../img/sub_mi_logo_image.png">
</div>
<div class="character">
    <span>캐릭터</span>
    <div>
        서울밤도깨비야시장의 캐릭터 도깨비는 민속적으로 우리에게 친숙한 존재입니다.<br>
        인간에게 악독하게 굴지 않으며 춤과 노래, 놀이를 즐기고 방망이로 요술을 부립니다.<br>
        이는 우리 민족이 가진 해학과 풍류와 닮아있습니다.<br>
        서울밤도깨비야시장의 캐릭터 도깨비는 야시장을 찾는<br>
        서울 시민과 관광객들에게 유쾌한 서울의 밤을 선물할 것입니다
    </div>
    <img src="../../img/sub_mi_character_image.png">
</div>
<div class="character-2017">
    <span>2017 서울밤도깨비야시장 캐릭터</span>
    <div>
        <div>기본형</div>
        <img src="../../img/sub_mi_default.png">
    </div>
    <div>
        <div>응용형</div>
        <img src="../../img/sub_mi_apply.png">
    </div>
</div>