<div class="page-name">공지사항</div>
<table class="notice-list">
    <tr>
        <td>전체</td>
        <td id="active">@여의도</td>
        <td>@DDP</td>
        <td>@청계천</td>
        <td>@반포</td>
        <td>@청계광장</td>
    </tr>
</table>
<table class="notice-contents">
    <thead>
    <tr>
        <th>제목</th>
        <th>조회수</th>
        <th>작성</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>여의도 | @여의도가 내일 하루 일찍 문을 엽니다.</td>
        <td>4494</td>
        <td>06.30.2017</td>
    </tr>
    <tr>
        <td>여의도 | @여의도가 내일 하루 일찍 문을 엽니다.</td>
        <td>4494</td>
        <td>06.30.2017</td>
    </tr>
    <tr>
        <td>여의도 | @여의도가 내일 하루 일찍 문을 엽니다.</td>
        <td>4494</td>
        <td>06.30.2017</td>
    </tr>
    </tbody>
</table>
