<div class="page-name">공지사항</div>
<table class="notice-list">
    <tr>
        <td>전체</td>
        <td id="active">@여의도</td>
        <td>@DDP</td>
        <td>@청계천</td>
        <td>@반포</td>
        <td>@청계광장</td>
    </tr>
</table>
<table class="notice-contents">
    <thead>
    <th>
        <td>제목</td>
        <td>조회</td>
        <td>작성</td>
    </th>
    </thead>
</table>
