<div class="page-name">현장스케치</div>
<table class="sketch-list">
    <tr>
        <td>전체</td>
        <td id="active">@여의도</td>
        <td>@DDP</td>
        <td>@청계천</td>
        <td>@반포</td>
        <td>@청계광장</td>
    </tr>
</table>
<ul class="sketch-contents">
    <li>
        <img src="../../img/market/yyd/sketch/yyd_sketch_1.jpg">
        <span>2017년 8월 25일 현장스케치</span>
        <div class="market-explain">
            <div class="market-name">여의도</div>
            <div class="check-num">조회 1209</div>
            <div class="image-date">08.29.17</div>
        </div>
    </li>
    <li>
        <img src="../../img/market/yyd/sketch/yyd_sketch_2.jpg">
        <span>2017년 8월 25일 현장스케치</span>
        <div class="market-explain">
            <div class="market-name">여의도</div>
            <div class="check-num">조회 1209</div>
            <div class="image-date">08.29.17</div>
        </div>
    </li>
    <li>
        <img src="../../img/market/yyd/sketch/yyd_sketch_3.jpg">
        <span>2017년 8월 25일 현장스케치</span>
        <div class="market-explain">
            <div class="market-name">여의도</div>
            <div class="check-num">조회 1209</div>
            <div class="image-date">08.29.17</div>
        </div>
    </li>
    <li>
        <img src="../../img/market/yyd/sketch/yyd_sketch_4.jpg">
        <span>2017년 8월 25일 현장스케치</span>
        <div class="market-explain">
            <div class="market-name">여의도</div>
            <div class="check-num">조회 1209</div>
            <div class="image-date">08.29.17</div>
        </div>
    </li>
    <li>
        <img src="../../img/market/yyd/sketch/yyd_sketch_5.jpg">
        <span>2017년 8월 25일 현장스케치</span>
        <div class="market-explain">
            <div class="market-name">여의도</div>
            <div class="check-num">조회 1209</div>
            <div class="image-date">08.29.17</div>
        </div>
    </li>
</ul>