<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>서울밤도깨비야시장</title>
</head>
<body>
{{> template/header}}
<section class="section-main">
    <div class="main-logo">
        <img src="./img/logo.png" class="logo">
    </div>
    <ul class="main-next-img">
        <li class="main-btn-left"><i class="fa fa-arrow-left"></i></li>
        <li class="main-btn-right"><i class="fa fa-arrow-right"></i></li>
    </ul>
</section>
<section class="section-sub">
        <ul>
            <li class="yeouido-market">
                <div class="market-title">
                    <span>@여의도 월드나이트마켓</span><br>
                    매주 금/토 18:00~23:00<br>
                    여의도한강공원 물빛광장
                </div>
                <div class="market-img">
                    <img src="./img/yeouido.png">
                </div>
            </li>
            <li class="ddp-market">
                <div class="market-title">
                    <span>@DDP 청춘런웨이마켓</span><br>
                    매주 금/토 18:00~23:00<br>
                    동대문디자인플라자(DDP)
                </div>
                <div class="market-img">
                    <img src="./img/ddp.png">
                </div>
            </li>
            <li class="cheonggye-market">
                <div class="market-title">
                    <span>@청계천 타임슬립마켓</span><br>
                    매주 금/토 18:00~23:00<br>
                    청계천
                </div>
                <div class="market-img">
                    <img src="./img/cheonggye.png">
                </div>
            </li>
            <li class="banpo-market">
                <div class="market-title">
                    <span>@반포 낭만달빛마켓</span><br>
                    매주 금/토 18:00~23:00<br>
                    반포한강공원 달빛광장
                </div>
                <div class="market-img">
                    <img src="./img/banpo.png">
                </div>
            </li>
            <li class="cheonggye-square-market">
                <div class="market-title">
                    <span>@청계광장 시즌마켓</span><br>
                    매주 금/토 18:00~23:00<br>
                    청계광장
                </div>
                <div class="market-img">
                    <img src="./img/cheonggye_square.png">
                </div>
            </li>
        </ul>
</section>
{{> template/footer}}
</body>
</html>