<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>서울밤도깨비야시장</title>
</head>
<body>
{{> template/header}}
<section class="section-main">
    <div class="main-market-image market-carousel">
        <ul class="market-carousel-visible">
            <div id="carousel-market-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="./img/market/market1.jpg" alt="...">
                    </div>
                    <div class="item">
                        <img src="./img/market/market2.jpg" alt="...">
                    </div>
                    <div class="item">
                        <img src="./img/market/market3.jpg" alt="...">
                    </div>
                    <div class="item">
                        <img src="./img/market/market4.jpg" alt="...">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-market-generic" role="button" data-slide="prev">
                    <img src="./img/slider_btn_left.png" id="left-button">
                </a>
                <a class="right carousel-control" href="#carousel-market-generic" role="button" data-slide="next">
                    <img src="./img/slider_btn_right.png" id="right-button">
                </a>
            </div>
        </ul>
    </div>
    <div class="main-logo">
        <img src="./img/main_big_logo.png">
    </div>
    <ul class="language-btn">
        <li><img src="./img/lan_kor_btn.png"></li>
        <li><img src="./img/lan_eng_btn.png"></li>
        <li><img src="./img/lan_jpn_btn.png"></li>
        <li><img src="./img/lan_chn_btn.png"></li>
    </ul>
</section>
<section class="section-sub">
    <ul class="market-menu">
        <li class="none1"></li>
        <li class="yyd-market"></li>
        <li class="ddp-market"></li>
        <li class="cgc-market"></li>
        <li class="banpo-market"></li>
        <li class="cggj-market"></li>
        <li class="none2"></li>
    </ul>
</section>
{{> template/footer}}
</body>
</html>