<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>야시장 소개 - 서울밤도깨비 야시장</title>
</head>
<body>
{{> template/header }}
<section class="market-image">
    <div class="main-logo">
        <img src="./img/main_big_logo.png">
    </div>
</section>
<section class="market-contents-area">
    <div class="market-headline-area">
        <div class="headline-image1">
            <img src="./img/nmi_top_symbol_1.png" style="height: 150px">
        </div>
        <div class="headline-image2">
            <img src="./img/nmi_top_symbol_2.png" style="height: 150px">
        </div>
        <ul class="market-headline">
            <li class="market-title">서울밤도깨비야시장 소개</li>
            <li class="market-date">2017.07.17 ~ 10.29</li>
            <li>
                <ul class="market-sub-list">
                    <li class="active">야시장 개요</li>
                    <li>MI & 캐릭터</li>
                    <li>문의하기</li>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="active tab-market-introduce">
    {{> template/detail/detail-market }}
    </ul>
    <div class="tab-market-char">
    </div>
    <div class="tab-market-QnA">
    </div>
</section>
{{> template/footer }}
</body>
</html>