<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title }}</title>
</head>
<body>
{{> template/header }}
<section class="markets-main-image">
    <div class="main-logo">
        <img src="./img/main_big_logo.png">
    </div>
    <div class="market-image"></div>
</section>
<section class="markets-headline">

</section>
<section class="market-contents">

</section>
{{> template/footer }}
</body>
</html>

